<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <header>
    <img src="image/logo.png" alt="Logo" width="50" height="50">
    <span>
        <h2>INFORMATICA</h2>
        <p>INFORMATICA-L'excellence en formation professionnelle</p> 
    </span>
  </header>

  <main>
    <img src="image/formation1.jpg" alt="formation" width="300">

    <section>

      <div>
        <h2>Formation d'entreprise</h2>
        <p>Formation destines aux sociétés et institutions</p>
        <button>Aller voir</button>
      </div>

      <div>
        <h2>Formation Grand Public</h2>
        <p>Formations ouvertes a tous destines au développement des parcours personnels et professionnels</p>
        <button>Aller voir</button>
      </div>

    </section>
  </main>
  
   <footer>
    
   </footer>
</body>
</html>