  <div class="contact-section">
    <h2>Contactez-Nous</h2>
    <ul>
      <li> 
        <h4>Location:</h4>
        <p>Division 4, Gr Pr no 1224, lot no 1, 2ème étage,<br> Boumerdes 35000, Algeria</p>
      </li>
      <li>
        <h4>Email:</h4>
        <p><a href="mailto:efp.informica@gmail.com">efp.informica@gmail.com</a></p>
      </li>
      <li> 
        <h4>Mobile:</h4>
        <p>0557.220.248 / 0790.747.391 / 0661.579.335</p>
      </li>
    </ul>
  </div>

    <footer class="footer-content">
        &copy; Copyright <strong><span>INFORMICA</span></strong>. All Rights Reserved
   </footer>