<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= data.category.toUpperCase() %></title>
</head>
<body>
  <h1><%= data.category.toUpperCase() %></h1>

  <% data.formations.forEach(f => { %>
    <div class="box-formation">
      <h3><%= f.title %></h3>
      <ul>
        <% f.items.forEach(item => { %>
          <li><%= item %></li>
        <% }) %>
      </ul>
    </div>
  <% }) %>

  <br />
  <button onclick="history.back()">← Retour</button>
</body>
</html>

