<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <header>
    <img src="image/logo.png" alt="Logo" width="50" height="50">
    <span>
        <h2>EFP INFORMATICA</h2>
        <p>Agrée par l'état</p> 
    </span>
    <nav>
      <a href="#">Accueil</a>
      <a href="#">Formations</a>
      <a href="#">A propos</a>
      <a href="#">Contact</a>
    </nav>
  </header>

  <main>
    <h1>Bienvenue à INFORMATICA</h1>
    <p>
      École de Formation Professionnelle agréée par le Ministère de la formation et de l’enseignement professionnels.
      Agrément n°307. Créée en 2020 et assure des formations qualifiantes en inter et intra entreprises.
    </p>

    <img src="image/formation1.jpg" alt="formation" width="300">

    <section>

      <div>
        <h2>Formation d'entreprise</h2>
        <p>Formation destines aux sociétés et institutions</p>
        <button>Aller voir</button>
      </div>

      <div>
        <h2>Formation Grand Public</h2>
        <p>Formations ouvertes a tous destines au développement des parcours personnels et professionnels</p>
        <button>Aller voir</button>
      </div>

    </section>
  </main>
  
   <footer>
    
   </footer>
</body>
</html>